ion-toolbar {
    --background: #fd687d;
    --color: white;
}
ion-title {
    font-size: 17px;
}
.icon-refresh {
    float: right;
    margin-right: 6px;
    font-size: 20px;
    color: white;
}
.icon-note {
    --color:#8d93ab;
    font-size: 12px;
}

.link-color {
    color: #8d93ab;
    font-size: 11px;
}

.icon-funnel {
    color:#8d93ab;
    font-size: 18px;
    margin-left: 35px;
}
.icon-arrow-round-up {
    font-size: 25px;
    color:#8d93ab;
    font-weight: bold;
}

.item-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

ion-button {
    --background: #fd687d;
    --background-activated:#8d93ab;
    --border-radius: 15px;
    height: 30px;
    flex-grow: 1;
}

.text-item {
    display: flex;
    justify-content: space-around; 
    --background:#f4f5f8;
    font-size: 12px;
}
.text-note {
      --color:black;
      flex-grow: 1;
}
.text-note-second {
    --color:#fd687d;
    flex-grow: 1;
}

.bg-rgba {
    --background: rgba(0, 0, 0, 0); 
    --background-activated: rgba(224, 91, 28, 0.904);
    --color:black;
    flex-grow: 1;
    font-size: 12px;
}

.icon-color {
    color: rgb(118, 173, 235);
}

.date-color {
    color: rgb(118, 173, 235);
}

.font-color {
    color: rgba(224, 91, 28, 0.904);
}

ion-button {
    --background: rgba(0, 0, 0, 0); 
    --background-activated: #8d93ab;
}

ion-icon {
    color: #fd687d;
}
