<ion-header>
  <ion-toolbar>
    <ion-title>Safety Inspector AI Status Evaluator</ion-title>
    <ion-icon class="icon-refresh" name="refresh"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <a class="link-color" [routerLink]="[ '/overview' ]">Keep your workers and assets safte</a>
    <ion-icon class="icon-funnel" name="funnel"></ion-icon>
    <ion-note class="icon-note">FILTER</ion-note>
    <ion-icon class="icon-arrow-round-up" name="arrow-round-up"></ion-icon>
    <ion-note class="icon-note">DATE</ion-note>
  </ion-item>

  <ion-item class="item-button" lines="none">
    <ion-button>
      <ion-icon name="reverse-camera" size="large"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="videocam" size="large"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="musical-notes" size="large"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item lines="none" class="text-item">
    <ion-note class="text-note">Inspector:</ion-note>
    <ion-note class="text-note-second">Cong Ma</ion-note>
    <ion-note class="text-note">Tag to be detected:</ion-note>
    <ion-button class="bg-rgba" [routerLink]="[ '/tags' ]">laptop</ion-button>
  </ion-item>

  <ion-grid *ngFor="let inspector of inspector">
    <ion-row>
      <ion-col size="8">
        <ion-label>
          <p class="date-color">
            <ion-icon name="list" class="icon-color"></ion-icon>{{inspector.date}}
          </p>
          <h3 class="font-color">{{inspector.aftitle}}:</h3>
          <p>{{inspector.afcontent}}</p>
          <h3 class="font-color">{{inspector.attitle}}:</h3>
          <p>{{inspector.atcontent}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-img [src]="inspector.picUrl" [routerLink]="[ '/person' ]"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>