ion-content{
    --background:#f4f5f8;
}
ion-item{
    --background:#f4f5f8;
}
.item-title{
    --border-width:25px;
    --border-color:#f4f5f8;
}
ion-checkbox{
    margin-left: 100px;
    --background-checked:#fd687d;
    --border-color-checked:#fd687d;
}
item-list{
    margin-top: 60px;
}
.item-button{
    display:flex;
}
ion-button{
    --border-radius:15px;
    --background:#fd687d;
    --background-activated:#8d93ab;
    flex-grow: 1;
}
