.overview {
  --background: #f4f5f8;
}
.title{
font-size: 17px;
}
.refresh{
  color:#fd687d;
  float: right;
  margin-right: 3%;
  font-size: 18px;
}
.funnel{
  font-size: 18px;
  color:#fd687d;
  margin-left: 10%;
}
.filter{
  color:#fd687d;
  font-size: 14px;
}
.arrow-round-up{
  font-size: 25px;
  color:#fd687d;
  font-weight: bold;
}
.date{
  color:#fd687d;
  font-size: 14px;
}
.note{
  text-decoration:underline;
}
.button1{
  width: 45%;
  height: 80%;
  background-color: #fd687d;
  border-radius: 6px;
}
.button2{
  width: 45%;
  height: 80%;
  background-color: #fd687d;
  border-radius: 6px;
}
.mirror{
  width: 20%;
  height: 70%;
}
.item1{
  height: 1%;
}
.Top participant{
  color: black;
}
.number{
  margin-left: -45%;
  --border-radius:80px;
}