.back{
    margin-top: -6%;
    color:black;
}
ion-card{
    --background:#f4f5f8;
    height: 20%;
}
.name{
    font-weight: bold;
    margin-left: 10%;
    font-size: 20px;
    color: #000;
}
.img-photo{
    width: 80%;
    height: 100%;
    margin-left: 45%;
    margin-top: -6%;
}
.note-racket{
    --color: black;
    margin-left: 5%;
    font-weight: bold;
}
.previewpic{
    width: 50%;
    height: 50%;
}
.loop{
    height: 20%;
}
.button{
    width: 120px;
    height: 50px;
    margin-bottom: -30%;
    --border-radius:15px;
    --background:#fd687d;
}
.buttons{
    width: 120px;
    height: 30px;
    margin-bottom: -1%;
    --border-radius:20px;
}
.front{
    font-size: 15px;
    margin-left: 3%;
}
.toggle{
    width: 50%;
    height: 80%;
}
.input{
    color: #000;
    margin-left: 5%;
    font-weight: bold;
}
.detail{
    width: 90%;
    height: 70%;
}
.detailnote{
    color: black;
    width: 70%;
}