<ion-header>
  <ion-toolbar>
    <ion-title>Magic Mirror Capture</ion-title>
    <ion-icon name="arrow-round-back" size="large" [routerLink]="[ '/overview' ]"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-label class="label-name">Laven Creative</ion-label>
  <ion-img class="img-photo" src="/assets/girl.PNG"></ion-img>
</ion-card>

<ion-content>
  <ion-note>Tennis Racket</ion-note>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let pic of previewData">
      <img class="preview-pic" src={{pic.picUrl}} />
    </ion-slide>
  </ion-slides>

  <ion-note>Input</ion-note>
  <ion-searchbar></ion-searchbar>
  <ion-item lines="none">
    <ion-note class="note-detail">Worksite needs help prevent unsafe situations that lead to injuries and
      equipmentdamage.
    </ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-img class="detail-pic" src="/assets/racket4.PNG"></ion-img>
  </ion-item>


  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button>Clear</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="button-grey">Switch Camera</ion-button>
          <ion-item lines="none">
            <ion-toggle></ion-toggle>
            <ion-label class="label-front">Front</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-button>sumbit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>