ion-card{
    --background:#f4f5f8;
    height: 20%;
}
.label-name{
    --color: #000;
    font-weight: bold;
    margin-left: 10%;
    font-size: 20px;
}
.img-photo{
    width: 80%;
    height: 100%;
    margin-left: 45%;
    margin-top: -6%;
}
ion-note{
    --color: black;
    margin-left: 5%;
    font-weight: bold;
}
.note-detail{
    --color: black;
    width: 70%;
    font-weight: normal;
    margin-left: 1%;
}
.preview-pic{
    width: 50%;
    height: 50%;
}
.detail-pic{
    width: 90%;
    height: 70%;
}
ion-button{
    width: 120px;
    height: 50px;
    margin-bottom: -30%;
    --border-radius:15px;
    --background:#fd687d;
}
.button-grey{
    width: 120px;
    height: 30px;
    margin-bottom: -1%;
    --border-radius:20px;
    --background:#8d93ab;
}
.label-front{
    font-size: 15px;
    margin-left: 3%;
}
ion-toggle{
    width: 50%;
    height: 80%;
    --background-checked:#fd687d;
}
