<ion-header>
  <ion-toolbar>
    <ion-title>
      Magic Mirror AI Fitness Status
    </ion-title>
    <ion-icon class="icon-refresh" name="refresh"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-item lines="full">
  <a [routerLink]="[ '/safetyinspector' ]">Makeatbon Team: Evil Queen</a>
  <ion-icon class="icon-funnel" name="funnel"></ion-icon>
  <ion-note class="icon-note">FILTER</ion-note>
  <ion-icon class="icon-arrow-round-up" name="arrow-round-up"></ion-icon>
  <ion-note class="icon-note">DATE</ion-note>
</ion-item>

<ion-item class="item-button" lines="none">
  <ion-button [routerLink]="[ '/capture' ]">
    <ion-icon name="reverse-camera" size="large"></ion-icon>
  </ion-button>
  <ion-button [routerLink]="[ '/talk' ]">
    <ion-icon name="chatbubbles" size="large"></ion-icon>
  </ion-button>
</ion-item>

<ion-item lines="none" class="text-item">
  <ion-note class="text-note">Top Participant</ion-note>
  <ion-note class="text-note-second">Wei Guo</ion-note>
  <ion-note class="text-note">Top Tag</ion-note>
  <ion-note class="text-note">Include</ion-note>
</ion-item>

<ion-content>
  <ion-item *ngFor="let overview of overviewPageData">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-icon class="options-icon" name="options" color="primary"></ion-icon>
          <ion-note class="note-date" color="primary">{{overview.date}}</ion-note>
          <ion-row>
            <ion-note class="options-icon" color="danger">{{overview.title1}}</ion-note>
          </ion-row>
          <ion-row>
            <ion-note class="text-note">{{overview.content1}}</ion-note>
          </ion-row>
          <ion-row>
            <ion-note class="options-icon" color="danger">{{overview.title2}}</ion-note>
          </ion-row>
          <ion-row>
            <ion-note class="text-note-shadow">{{overview.content2}}</ion-note>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-img src="{{overview.pic}}"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>