ion-toolbar{
    --background: #f4f5f8;
}
ion-title{
    font-size: 17px;
}
.icon-refresh{
    color:#fd687d;
    float: right;
    margin-right: 6px;
    font-size: 20px;
}
.icon-note{
    --color:#fd687d;
    font-size: 14px;
}
.icon-funnel{
    color:#fd687d;
    font-size: 18px;
    margin-left: 35px;
}
.icon-arrow-round-up{
    font-size: 25px;
    color:#fd687d;
    font-weight: bold;
}
.item-button{
    display: flex;
    justify-content: space-around; 
}
ion-button{
    --background: #fd687d;
    --background-activated:#8d93ab;
    --border-radius: 15px;
    flex-grow: 1;
}
.text-item{
    display: flex;
    --background:#f4f5f8;
    font-size: 15px;
}
.text-note{
      --color:black;
      flex-grow: 1;
}
.text-note-second{
    --color:#fd687d;
    flex-grow: 1;
}
.button-number{
    --background:#8d93ab;
    --border-radius:80px;
    width: 27px;
}
