ion-toolbar {
    --background: #fd687d;
    --color: white;
}

.icon-refresh {
    float: right;
    margin-right: 6px;
    color: white;
}

a {
    color: #8d93ab;
    width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 15px;
}

.icon-note {
    --color:#8d93ab;
    font-size: 12px;
}

.icon-funnel {
    color:#8d93ab;
    font-size: 18px;
    margin-left: 45px;
}

.icon-arrow-round-up {
    font-size: 25px;
    color:#8d93ab;
    font-weight: bold;
}

.icon-arrow-round-down {
    font-size: 25px;
    color:#8d93ab;
    font-weight: bold;
    margin-left: -15px;
}

.text-item {
    display: flex;
    --background:#f4f5f8;
    font-size: 15px;
}

.text-note {
      --color:black;
      flex-grow: 1;
      font-size: 12px;
}

.text-note-second {
    --color:#fd687d;
    flex-grow: 1;
    font-size: 12px;    
}

.text-note {
    font-size:13px;
    margin-left: 6px;
    --color: #8d93ab;
}

.options-icon {
    font-size: 12px;
}

.note-date {
    font-size: 12px;
}

.text-note-shadow {
    font-size:13px;
    --color: #8d93ab;
    margin-left: 6px;
}

.item-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

ion-button {
    --background: rgba(0, 0, 0, 0); 
    --background-activated: rgba(0, 0, 0, 0); 
    --color: #fd687d;
    flex-grow: 1;   
}