.sign{
    margin-left: 10%;
    padding-top: 20%;
}

.sign-icon {
    width: 65px;
    height: 65px;
    color: #fd687d;
}

.welcome-label {
    font-size: 30px;
    color: #8d93ab;
}

.item-margin1 {
    margin-left: 10%;
    margin-top: 20%;
}

.item-margin2 {
    margin-left: 10%;
    margin-top: 10%;
}

.item-margin3 {
    margin-left: 10%;
    margin-top: 15%;
}

ion-button {
    width: 70%;
    height: 100%;
    text-align: left;
    --background: #fd687d;
    --background-activated: #f4f5f8;
    color: white;
    font-size: 90%;
}

.icon {
    margin-left: 60%;
}

.loginLink {
    margin-left: 10%;
    margin-top: 45%;
    color: #8d93ab;
}

.eyehide .eye-hide, .eyeshow .eye-show{
    display: none;
    color: #e3e3eb;
}
   
.eyehide .eye-show, .eyeshow .eye-hide{
    display: block;
    color: #e3e3eb;
}   