ion-toolbar {
    --background: #fd687d;
    --color: white;
}


.back-button {
    --background: rgba(0, 0, 0, 0); 
    --background-activated: rgba(0, 0, 0, 0); 
}

ion-icon {
   --color: white;
}

.boder-type {
    --border-color: rgb(142, 142, 233);
    --bottom-border-width: 1px;
}

ion-searchbar {
    --icon-color: #fd687d;
}


.input {
    width: 75%;
    height: 80%;;
    border-color:  #fd687d;
}

ion-button {
    --background: #fd687d;
    --background-activated: #fd687d;
    padding-left: 5%;
    height: 80%;
    width: 20%;
}

.margin-bottom {
    padding-bottom: 3%;
}

ion-row {
    font-size: 65%;
}

.col-margin-left {
    margin-left: 5%;
}

.row-margin-right {
    text-align: right;
}
 
.margin-right {
    color: gray;
    text-align: right;
}

.font-color {
    color: gray;
}