.background {
    --background: #fd687d;
}

.label {
    --color: white;
}
.button {
    --background: rgba(0, 0, 0, 0); 
    --background-activated: rgba(0, 0, 0, 0); 
    width: 40%;
}

.icon {
   margin-left: -90%;
   color: white;
}

.boder {
    --border-color: rgb(142, 142, 233);
}

.search-icon {
    color: #fd687d;
}

.row {
    margin-top: -10%;
}

.input1 {
    border: 1px;
    border-color:  rgb(142, 142, 233);
}

.send-button {
    --background: #fd687d;
    height: 95%;
    width: 20%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}