<ion-header>
  <ion-toolbar>
    <ion-button (click)="canGoBack()" class="back-button">
      <ion-icon name="arrow-dropleft" size="large"></ion-icon>
    </ion-button>
    <ion-title>[Magic Mirror Bot]</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="boder-type">
    <ion-searchbar></ion-searchbar>
  </ion-item>
  <ion-list lines="full">
    <ion-item *ngFor="let talk of talks;">
      <ng-container *ngIf="talk.id==1">
        <ion-avatar slot="end">
          <img [src]="talk.picUrl">
        </ion-avatar>
        <ion-grid>
          <ion-row class="row-margin-right">
            <ion-col>
              <p>{{talk.name}}</p>
            </ion-col>
            <ion-col>
              <p>{{talk.date}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="margin-right">
              <p>{{talk.content}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <ng-container *ngIf="talk.id==2">
        <ion-avatar>
          <img [src]="talk.picUrl">
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{talk.date}}</p>
            </ion-col>
            <ion-col>
              <p>{{talk.name}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="font-color">
              <p>{{talk.content}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
<div>
  <ion-item lines="none" class="margin-bottom">
    <input type="text" class="input" placeholder="input your question">
    <ion-button class="send-button">Send</ion-button>
  </ion-item>
</div>