.content-left-margin {
    margin-left: 30px;
}

.login {
    padding-top: 60px;
}

.login-icon {
    width: 58px;
    height: 58px;
    color: #fd687d;
}

.welcome-label {
    font-size: 30px;
    color: #8d93ab;
}

.item-margin1 {
    margin-top: 45px;
}

.item-margin2 {
    margin-top: 30px;
}

.item-margin3 {
    margin-top: 55px;
    display: flex;
}

ion-button {   
    flex-grow:1;
    height: 38px;
    text-align: left;
    --background: #fd687d;
    --background-activated: #f4f5f8;
    color: white;
}

.signLink { 
    margin-top: 130px;
    color: #8d93ab;
}

.eyehide .eye-hide, .eyeshow .eye-show{
    display: none;
    color: #e3e3eb;
}
   
.eyehide .eye-show, .eyeshow .eye-hide{
    display: block;
    color: #e3e3eb;
}   