.go{
    margin-left: 10%;
    padding-top: 20%;
}

.login-icon {
    width: 58px;
    height: 58px;
    color: #fd687d;
}

.welcome {
    font-size: 30px;
    color: #8d93ab;
}

.margin1 {
    margin-left: 10%;
    margin-top: 20%;
}

.margin2 {
    margin-left: 10%;
    margin-top: 10%;
}

.margin3 {
    margin-left: 10%;
    margin-top: 15%;
}

.login-button {
    width: 70%;
    height: 100%;
    text-align: left;
    --background: #fd687d;
    --background-activated: #f4f5f8;
    color: white;
}

.icon {
    margin-left: 60%;
}

.loginLink {
    margin-left: 10%;
    margin-top: 45%;
    color: #8d93ab;
}

.eyehide .eye-hide, .eyeshow .eye-show{
    display: block;//让对象成为块级元素
    color: #e3e3eb;
  }
   
  .eyehide .eye-show, .eyeshow .eye-hide{
    display: none;//此元素不会被显示
    color: #e3e3eb;
  }   