.go{
    margin-left: 10%;
    padding-top: 20%;
}

.login-icon {
    width: 58px;
    height: 58px;
    color: #fd687d;
}

.welcome {
    font-size: 30px;
    color: #8d93ab;
}

.margin1 {
    margin-left: 10%;
    margin-top: 20%;
}

.margin2 {
    margin-left: 10%;
    margin-top: 10%;
}

.margin3 {
    margin-left: 10%;
    margin-top: 15%;
}

.login-button {
    width: 70%;
    height: 100%;
    text-align: left;
    --background: #f4f5f8;
    --background-activated: #f4f5f8;
    color: #8d93ab;
}

.icon {
    margin-left: 60%;
}

.loginLink {
    margin-left: 10%;
    margin-top: 45%;
    color: #8d93ab;
}

.icon-color {
    color: #e3e3eb;
}