<ion-header>
  <ion-toolbar>
    <ion-title>cong.ma@avanade.com</ion-title>
    <ion-icon name="home" size="large" [routerLink]="[ '/safetyinspector' ]"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let person of person" lines="none">
    <ion-label>
      <p>personId:<ion-text>{{person.id}}</ion-text>
      </p>
      <p>Date:<ion-text>{{person.date}}</ion-text>
      </p>
      <h3>{{person.name}}:</h3>
      <p>
        <ion-text>{{person.content}}</ion-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-img class="detail-pic" src="/assets/office.PNG"></ion-img>
  <ion-item lines="none">
    <ion-button size="default">Submit</ion-button>
    <ion-button size="default" class="button-cancel">Cancel</ion-button>
  </ion-item>
</ion-content>