ion-toolbar {
    --background: #fd687d;
    --color: white;
}

.detail-pic {
    width: 280px;
    height: 420px;
    margin: auto;
}

ion-button {
    margin: auto;
    --border-radius:10px;
    --background:#fd687d;
    --background-activated:#8d93ab;
    width: 150px;
}

.button-cancel {
    margin: auto;
    --border-radius:10px;
    --background:#bbc0d6;
    --background-activated:#fd687d;
    width: 150px;
}

p,h3 {
    white-space: normal;
    color: rgb(108, 108, 247);
}

ion-text {
    color:black;
}