<ion-header>
  <ion-toolbar>
    <ion-title>cong.ma@avanade.com</ion-title>
    <ion-icon name="home" size="large" [routerLink]="[ '/safetyinspector' ]"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <p>
      Donec magna odio, <ion-text color="primary">semper</ion-text> ac nibh et, vestibulum eleifend felis.
      Donec <ion-text color="secondary">pulvinar</ion-text> ex non quam vulputate malesuada in a magna.
      Praesent massa arcu, <ion-text color="danger">vehicula</ion-text> id pharetra et, cursus at lectus.
    </p>
  </ion-item>
  <ion-img class="detail-pic" src="/assets/office.PNG"></ion-img>
  <ion-item lines="none">
    <ion-button size="default">Submit</ion-button>
    <ion-button size="default" class="button-cancel">Cancel</ion-button>
  </ion-item>
</ion-content>