<ion-header>
  <ion-toolbar>
    <ion-title>cong.ma@avanade.com</ion-title>
    <ion-icon name="home" size="large" [routerLink]="[ '/safetyinspector' ]"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="item-title">
    You can find a restricted/forbidden zone Anomaly detection: fire & smoke, spills, leaks, pipelines (drones, robots)
    Overcrowding/max. occupancy Slip & fall detection.
  </ion-item>
  <ion-img class="detail-pic" src="/assets/office.PNG"></ion-img>
</ion-content>
<ion-item lines="none" class="item-button">
  <ion-button size="largre">Submit</ion-button>
  <ion-button size="largre" class="button-cancel">Cancel</ion-button>
</ion-item>